<section class="vh-100 d-flex align-items-start" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-white"
                             style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            <i class="far fa-edit mb-5"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h6>Information</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-md-6 mb-3">
                                        <h6>Email</h6>
                                        <p class="text-muted">{{ admin.email }}</p>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <h6>Phone</h6>
                                        <p class="text-muted">{{ admin.phone }}</p>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <h6>Nom d'utilisateur</h6>
                                        <p class="text-muted">{{ admin.username }}</p>
                                    </div>
                                </div>
                                <h6>Mes entreprises</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-12">
                                        <ul class="list-unstyled">
                                            <li *ngFor="let entreprise of entreprises">
                                                <h6>{{ entreprise.nom }}</h6>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
