@defer (when standAlon) {
<c-row class="mb-3">
    <c-nav class="hstack gap">
        <c-nav-item class="p-2 ms-auto">
            <button cButton color="secondary" variant="outline" routerLink="/contacts/user/employe"(click)="cancel()">Annuler</button>
        </c-nav-item>
        <c-nav-item class="p-2">
            <button cButton color="dark" (click)="reset()">
                @if (resetting) {
                <c-spinner aria-hidden="true" size="sm"></c-spinner>
                } @else {
                <svg cIcon name="cilReload"></svg>
                }
                Reset
            </button>
        </c-nav-item>
        <c-nav-item class="p-2">
            <button cButton color="primary" (click)="update()">
                @if (sending) {
                <c-spinner aria-hidden="true" size="sm"></c-spinner>
                } @else {
                <svg cIcon name="cilPen"></svg>
                }
               Modifier
            </button>
        </c-nav-item>
    </c-nav>
</c-row>
<ng-container *ngTemplateOutlet="createFrom"></ng-container>
<ng-container *ngTemplateOutlet="createSubEntities"></ng-container>
}

@defer (when !standAlon) {
<ng-container *ngTemplateOutlet="createFrom"></ng-container>
}

<ng-template #createFrom>
<c-card class="mb-3">
  <c-card-header>
    <strong class="responsive-header" style="color: #1d0528 ;font-family: 'Times New Roman';font-size: 21px; margin-left: 300px" >Merci de renseigner les détails nécessaires pour mettre à jour les informations de cet "Employe"</strong>
  </c-card-header>
    <c-card-body>
        <c-row class="g-3">
            <c-col sm="4">
              <svg cIcon name="cil-barcode"  style="color: blue ;font-size: 30px"></svg>
              <label cLabel for="code" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Code</label>
                <input cFormControl id="code" type="text" placeholder="Code" [(ngModel)]="item.code" name="code" [valid]="validator.code.valid" (blur)="validator.code.validate()"/>
                <c-form-feedback [valid]="false">{{ validator.code.message }}</c-form-feedback>
            </c-col>
            <c-col sm="4">
              <svg cIcon name="cilUser"  style="color: blue ;font-size: 30px"></svg>
              <label cLabel for="nom" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Nom </label>
                <input cFormControl id="nom" type="text" placeholder="Nom" [(ngModel)]="item.nom" name="nom" [valid]="validator.nom.valid" (blur)="validator.nom.validate()"/>
                <c-form-feedback [valid]="false">{{ validator.nom.message }}</c-form-feedback>
            </c-col>
            <c-col sm="4">
              <svg cIcon name="cilUser"  style="color: blue ;font-size: 30px"></svg>
              <label cLabel for="nom" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Prénom </label>
                <input cFormControl id="prenom" type="text" placeholder="Prenom" [(ngModel)]="item.prenom" name="prenom" [valid]="validator.prenom.valid" (blur)="validator.prenom.validate()"/>
                <c-form-feedback [valid]="false">{{ validator.prenom.message }}</c-form-feedback>
            </c-col>
            <c-col sm="4">
              <svg cIcon name="cil-phone"  style="color: blue ;font-size: 30px"></svg>
              <label cLabel for="telephone" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Téléphone</label>
                <input cFormControl id="telephone" type="text" placeholder="Telephone" [(ngModel)]="item.telephone" name="telephone" [valid]="validator.telephone.valid" (blur)="validator.telephone.validate()"/>
                <c-form-feedback [valid]="false">{{ validator.telephone.message }}</c-form-feedback>
            </c-col>
          <c-col sm="4">
            <svg cIcon name="cil-building" style="color: blue ;font-size: 30px"></svg>
            <label cLabel for="entreprise" style="color: black;font-family: 'Times New Roman';font-size: 18px;font-weight: bold">Entreprise</label>
            <c-input-group>
              <select cSelect id="entreprise" name="niveauPrix" [(ngModel)]="entreprise.id" [valid]="validator.entreprise.valid" (blur)="validator.entreprise.validate()">
                @for (it of entrepriseList; track it) {
                  <option [value]="it.id">{{ it.nom }}</option>
                }
              </select>
              <button cButton color="secondary" type="button" variant="outline" (click)="navigateToEntrepriseCreate()">
                <svg cIcon name="cilPlus"></svg>
              </button>
              <c-form-feedback [valid]="false">{{ validator.entreprise.message }}</c-form-feedback>
            </c-input-group>
          </c-col>
        </c-row>
    </c-card-body>
</c-card>
</ng-template>

<ng-template #createSubEntities>
        <c-card class="mb-3">
            <c-card-header>
                <strong>Adresse</strong>
            </c-card-header>
            <c-card-body>
                <app-adresse-update [getter]="adresseGetter"  [setter]="adresseSetter" [validator]="validator.adresse"/>
            </c-card-body>
        </c-card>
</ng-template>
